[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
newsapi-python = "==0.2.5"
requests = "==2.21.0"
socialshares = "==1.1.0"
grequests = "==0.4.0"
pandas = "==0.25.0"
progressbar2 = "*"
nltk = "*"
gensim = "*"
sklearn = "*"
#tensorflow-gpu = "==2.0.0"
wordcloud = "*"
matplotlib = "==3.1.1"
seaborn = "*"
tensorflow-gpu = {file = "https://storage.googleapis.com/tensorflow/linux/gpu/tensorflow_gpu-2.0.0-cp37-cp37m-linux_x86_64.whl"}

[requires]
python_version = "3.7"
